table {
    border-collapse:  separate;
    border-spacing: 10px;


    display: inline-block;
    margin-right: 20px;
}
.d1{
    display: flex;
}
td {
    width: 50px;
    height: 50px;
}
.r1 {
    background-color: aqua;
}
.r2 {
    background-color: darkblue;
}
.r3 {
    background-color: #ffa600;
}
.r4 {
    background-color: #ef82ef;
}
.r5 {
    background-color: #00ff00;
}