<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Список медицинских организаций</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        function validatePhoneNumber() {
            var phoneNumber = document.getElementById('phone').value;
            var phoneRegex = /^\d{11}$/;
            var errorMessageElement = document.getElementById('error-message');
            if (!phoneRegex.test(phoneNumber)) {
                errorMessageElement.textContent = 'Пожалуйста, введите корректный номер телефона (11 цифр).';
                return false;
            }
            return true;
        }
        function validateTimeInput(inputId, errorMessageId) {
            var timeInput1 = document.getElementById('timeOfWork1').value;
            var timeInput2 = document.getElementById('timeOfWork2').value;
            var timeRegex = /^(0?[0-9]|1[0-9]|2[0-3])$/;
            var errorMessageElement1 = document.getElementById('time-error-message1');
            var errorMessageElement2 = document.getElementById('time-error-message2');
            if (!timeRegex.test(timeInput1)) {
                errorMessageElement1.textContent = 'Пожалуйста, введите корректное время (час от 0 до 23).';
                return false;
            }
            if (!timeRegex.test(timeInput2)) {
                errorMessageElement2.textContent = 'Пожалуйста, введите корректное время (час от 0 до 23).';
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
<div th:replace="navigation :: navi('Home')"></div>
<div class="container">
    <form th:if="${organization.id == null}" th:action=" @{/organizations/addOrUpdate/add}"
          th:object="${organization}" method="post" class="form-horizontal" onsubmit="return validatePhoneNumber() && validateTimeInput();">
        <h3>Добавить организацию</h3>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{id}" placeholder="ID (*)" class="form-control" type="hidden"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{name}" placeholder="Название организации (*)" required class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{address}" placeholder="Адрес (*)" required class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{phone}" id="phone" placeholder="Телефон (*)" required class="form-control"/>
            <span id="error-message" style="color: red;margin-left: 10px"></span>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{openingtime}" id="timeOfWork1" placeholder="Время открытия (*)" required class="form-control"/>
            <span id="time-error-message1" style="color: red;margin-left: 10px"></span>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{closingtime}" id="timeOfWork2" placeholder="Время закрытия (*)" required class="form-control"/>
            <span id="time-error-message2" style="color: red;margin-left: 10px"></span>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{views}" th:value="0" placeholder="views (*)" class="form-control" type="hidden"/>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button style='margin-left: 0' type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
    <form th:if="${organization.id != null}" th:action=" @{/organizations/addOrUpdate/edit/update}"
          th:object="${organization}" method="post" class="form-horizontal" onsubmit="return validatePhoneNumber() && validateTimeInput();">
        <h3>Изменить данные организации</h3>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{id}" placeholder="ID (*)" class="form-control" type="hidden"/>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{name}" placeholder="Название организации (*)" class="form-control"/>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{address}" placeholder="Адрес (*)" class="form-control"/>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{phone}" id="phone" placeholder="Телефон (*)" class="form-control"/>
            <span id="error-message" style="color: red;margin-left: 10px"></span>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{openingtime}" id="timeOfWork1" placeholder="Время открытия (*)" required class="form-control"/>
            <span id="time-error-message1" style="color: red;margin-left: 10px"></span>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{closingtime}" id="timeOfWork2" placeholder="Время закрытия (*)" required class="form-control"/>
            <span id="time-error-message2" style="color: red;margin-left: 10px"></span>
        </div>
        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button style='margin-left: 0' type="submit" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </form>
    <form th:action="@{/}">
        <button style='margin: 10px 15px' type="submit" class="btn btn-danger">Назад на главную</button>
    </form>
</div>
</body>
</html>
