<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Список медицинских организаций</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        function validatePhoneNumber() {
            var phoneNumber = document.getElementById('phone').value;
            var phoneRegex = /^\d{11}$/;
            var errorMessageElement = document.getElementById('error-message');
            if (!phoneRegex.test(phoneNumber)) {
                errorMessageElement.textContent = 'Пожалуйста, введите корректный номер телефона (11 цифр).';
                return false;
            }
            return true;
        }
    </script>
    <script>
        function validateTimeOfWork() {
            var timeOfWork = document.getElementById('timeOfWork').value;
            var timeRegex = /^(0?[0-9]|1[0-9]|2[0-3])\D(0?[0-9]|1[0-9]|2[0-3])$/;
            var errorMessageElement = document.getElementById('time-error-message');

            if (!timeRegex.test(timeOfWork)) {
                errorMessageElement.textContent = 'Пожалуйста, введите корректное время работы (два числа от 0 до 23, разделенных любыми разделителями).';
                return false;
            }

            errorMessageElement.textContent = ''; // Очистка сообщения об ошибке, если время корректно
            return true;
        }
    </script>
</head>

<body>
<div class="container">
    <form th:if="${organization.id == null}" th:action=" @{/organizations/addOrUpdate/add}"
          th:object="${organization}" method="post" class="form-horizontal" onsubmit="return validatePhoneNumber() && validateTimeOfWork();">
        <h3>Добавить организацию</h3>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{id}" placeholder="ID (*)" class="form-control" type="hidden"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{name}" placeholder="Название организации (*)" required class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{address}" placeholder="Адрес (*)" required class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{phone}" id="phone" placeholder="Телефон (*)" required class="form-control"/>
            <span id="error-message" style="color: red;margin-left: 10px"></span>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{timeOfWork}" id="timeOfWork" placeholder="Время работы (*)" required class="form-control"/>
            <span id="time-error-message" style="color: red;margin-left: 10px"></span>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button style='margin-left: 0' type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
    <form th:if="${organization.id != null}" th:action=" @{/organizations/addOrUpdate/edit/update}"
          th:object="${organization}" method="post" class="form-horizontal" onsubmit="return validatePhoneNumber() && validateTimeOfWork();">
        <h3>Изменить данные организации</h3>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{id}" placeholder="ID (*)" class="form-control" type="hidden"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{name}" placeholder="Название организации (*)" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{address}" placeholder="Адрес (*)" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{phone}" id="phone" placeholder="Телефон (*)" class="form-control"/>
            <span id="error-message" style="color: red;margin-left: 10px"></span>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{timeOfWork}" id="timeOfWork" placeholder="Время работы (*)" required class="form-control"/>
            <span id="time-error-message" style="color: red;margin-left: 10px"></span>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button style='margin-left: 0' type="submit" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </form>
    <form th:action="@{/organizations}">
        <button style='margin: 10px 15px' type="submit" class="btn btn-danger">Назад на главную</button>
    </form>
</div>
</body>
</html>
