<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Календарь прививок</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="icon" type="image/png" th:href="@{/icon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navigation :: navi('Home')}"></div>

<div class="jumbotron text-center">
    <h1 class="display-4">Добро пожаловать в Календарь Прививок!</h1>
    <p class="lead">Здесь вы можете получить информацию о ваших прививках, записаться на прием и быть в курсе актуальных
        рекомендаций по вакцинации.</p>
    <hr class="my-4">
    <p>Не упустите возможность защитить себя и своих близких от опасных инфекционных заболеваний.</p>
    <button th:if="${#authorization.expression('isAnonymous()')}" type="button" class="btn btn-primary btn-lg"
            data-toggle="modal" data-target="#loginRegisterModal">Войти или зарегистрироваться
    </button>
</div>
<div class="modal fade" id="loginRegisterModal" tabindex="-1" role="dialog" aria-labelledby="loginRegisterModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="loginRegisterTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab"
                           aria-controls="login" aria-selected="true">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                           aria-controls="register" aria-selected="false">Регистрация</a>
                    </li>
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="loginRegisterTabsContent">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Логин" name="username"
                                       aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Пароль" name="password"
                                       aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Войти</button>
                        </form>
                        <div th:if="${param.error} != null" class="text-danger mt-2">
                            Неправильное имя пользователя или пароль.
                        </div>
                    </div>
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <form th:action="@{/register}" method="post" th:object="${user}">
                            <div class="form-group">
                                <label for="firstname">Имя</label>
                                <input th:field="*{firstname}" required class="form-control" id="firstname"/>
                            </div>
                            <div class="form-group">
                                <label for="lastname">Фамилия</label>
                                <input type="text" required class="form-control" id="lastname" th:field="*{lastname}">
                            </div>
                            <div class="form-group">
                                <label for="middlename">Отчество</label>
                                <input type="text" class="form-control" id="middlename" th:field="*{middlename}">
                            </div>
                            <div class="form-group">
                                <label for="dateofbirth">Дата рождения</label>
                                <input type="date" required class="form-control" id="dateofbirth"
                                       th:field="*{dateofbirth}" min="1900-01-01">
                            </div>
                            <div class="form-group">
                                <label for="address">Адрес</label>
                                <input type="text" required class="form-control" id="address" th:field="*{address}">
                            </div>
                            <div class="form-group">
                                <label for="phonenumber">Номер телефона</label>
                                <input type="text" required class="form-control" id="phonenumber"
                                       th:field="*{phonenumber}">
                                <div class="error-message text-danger"></div>
                                <!-- Сообщение об ошибке для номера телефона -->
                            </div>
                            <div class="form-group">
                                <label for="insuranceNumber">Номер полиса</label>
                                <input type="text" required class="form-control" id="insurancenumber"
                                       th:field="*{inshurancenumber}">
                                <div class="error-message text-danger"></div>
                                <!-- Сообщение об ошибке для номера полиса -->
                            </div>
                            <div class="form-group">
                                <label for="username">Логин</label>
                                <input type="text" required class="form-control" id="username" th:field="*{username}">
                                <div class="error-message text-danger"></div>
                            </div>
                            <div class="form-group">
                                <label for="password">Пароль</label>
                                <input type="password" required class="form-control" id="password"
                                       th:field="*{password}">
                                <div class="error-message text-danger"></div> <!-- Сообщение об ошибке для пароля -->
                            </div>
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        var isError = /*[[${param.error}]]*/ false;
        if (isError) {
            $('#loginRegisterModal').modal('show');
        }
    });
    $(document).ready(function () {
        var usernameError = false;

        $('#username').on('input', function () {
            var username = $(this).val();
            $.ajax({
                url: '/checkUsernameAvailability?username=' + username,
                type: 'GET',
                success: function (data) {
                    if (!data) {
                        usernameError = true;
                        $('#username').next('.error-message').text('Этот логин уже занят');
                    } else {
                        usernameError = false;
                        $('#username').next('.error-message').text('');
                    }
                },
                error: function () {

                    usernameError = true;
                    $('#username').next('.error-message').text('Ошибка проверки доступности логина');
                }
            });
        });


        $('form').submit(function (event) {
            if (usernameError) {
                event.preventDefault();
            }
        });
    });
    $(document).ready(function () {
        var insuranceNumberError = false;

        $('form').submit(function (event) {
            var insuranceNumber = $('#insurancenumber').val();
            $.ajax({
                url: '/checkInsuranceNumberAvailability?insuranceNumber=' + insuranceNumber,
                type: 'GET',
                async: false,
                success: function (data) {
                    if (!data) {
                        insuranceNumberError = true;
                        $('#insurancenumber').next('.error-message').text('Этот номер полиса уже занят');
                    } else {
                        insuranceNumberError = false;
                        $('#insurancenumber').next('.error-message').text('');
                    }
                },
                error: function () {
                    insuranceNumberError = true;
                    $('#insurancenumber').next('.error-message').text('Ошибка проверки доступности номера полиса');
                }
            });

            if (insuranceNumberError) {
                event.preventDefault();
                alert('Этот номер полиса уже занят');
            }
        });
    });


    $(document).ready(function () {
        function validatePhoneNumber(phoneNumber) {
            var phoneRegex = /^\+7\d{10}$/; // Формат: +7хххххххххх
            return phoneRegex.test(phoneNumber);
        }

        function validateInsuranceNumber(insuranceNumber) {
            var insuranceRegex = /^\d{16}$/; // 16 цифр
            return insuranceRegex.test(insuranceNumber);
        }

        function validatePassword(password) {
            return password.length >= 6;
        }

        function updateErrorMessage(element, message) {
            var errorElement = element.next('.error-message');
            if (!errorElement.length) {
                errorElement = $('<div class="error-message text-danger"></div>').insertAfter(element);
            }
            errorElement.text(message);
        }

        function clearErrorMessage(element) {
            element.next('.error-message').remove();
        }

        $(document).ready(function () {
            var phoneNumberError = false;

            $('#phonenumber').on('input', function () {
                var phoneNumber = $(this).val();
                var isValid = validatePhoneNumber(phoneNumber);
                if (!isValid) {
                    phoneNumberError = true;
                    updateErrorMessage($(this), 'Номер телефона должен быть в формате +7xxxxxxxxxx');
                } else {
                    phoneNumberError = false;
                    clearErrorMessage($(this));
                }
            });

            $('form').submit(function (event) {

                if (phoneNumberError) {
                    event.preventDefault();
                }
            });
        });
        $(document).ready(function () {
            var insuranceNumberError = false;

            $('#insurancenumber').on('input', function () {
                var insuranceNumber = $(this).val();
                var isValid = validateInsuranceNumber(insuranceNumber);
                if (!isValid) {
                    insuranceNumberError = true;
                    updateErrorMessage($(this), 'Номер полиса должен состоять из 16 цифр');
                } else {
                    insuranceNumberError = false;
                    clearErrorMessage($(this));
                }
            });

            $('form').submit(function (event) {
                if (insuranceNumberError) {
                    event.preventDefault();
                }
            });
        });

        $(document).ready(function () {
            var passwordError = false;

            $('#password').on('input', function () {
                var password = $(this).val();
                var isValid = validatePassword(password);
                if (!isValid) {
                    passwordError = true;
                    updateErrorMessage($(this), 'Пароль должен содержать не менее 6 символов');
                } else {
                    passwordError = false;
                    clearErrorMessage($(this));
                }
            });

            $('form').submit(function (event) {

                if (passwordError) {
                    event.preventDefault();
                }
            });
        });

    });
    var today = new Date().toISOString().split('T')[0];
    document.getElementById('dateofbirth').setAttribute('max', today);
</script>
</body>
</html>
