<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="icon" type="image/png" th:href="@{/icon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{navigation :: navi('Home')}"></div>
<div id="userDisplayContainer" class="user-display-container">
    <div class="user-info">
        <h3 th:text="'Информация о пользователе:'"></h3>
        <p th:text="'Фамилия: ' + ${user.lastname}"></p>
        <p th:text="'Имя: ' + ${user.firstname}"></p>
        <p th:text="'Дата рождения: ' + ${user.dateofbirth}"></p>
        <p th:text="'Номер полиса: ' + ${user.inshurancenumber}"></p>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addVaccinationModal">
    Добавить вакцинацию
</button>
<div class="modal fade" id="addVaccinationModal" tabindex="-1" role="dialog" aria-labelledby="addVaccinationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addVaccinationModalLabel">Добавить вакцинацию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Форма для ввода данных о вакцинации -->
                <form id="addVaccinationForm" th:action="@{/med/users/addVaccination}" method="post">

                    <div class="form-group">
                        <input type="hidden" class="form-control" id="user" name="username" required th:value="${user.username}">
                    </div>
                    <div class="form-group">
                        <label for="serial">Серия вакцинации:</label>
                        <input type="text" class="form-control" id="serial" name="serial" required>
                    </div>
                    <div class="form-group">
                        <label for="vaccineName">Прививка:</label>
                        <select class="form-control" id="vaccineName" name="vaccineId" required>
                            <option value="">Выберите прививку</option>
                            <option th:each="vaccine : ${vaccines}" th:value="${vaccine.id}" th:text="${vaccine.vaccineName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="componentName">Компонент прививки:</label>
                        <select class="form-control" id="componentName" name="componentId" required>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="organizationName">Медицинская организация:</label>
                        <select class="form-control" id="organizationName" name="organizationId" required>
                            <option value="">Выберите организацию</option>
                            <option th:each=" organization: ${organizations}" th:value="${organization.id}" th:text="${organization.organizationName}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    $(document).ready(function () {
        $('#vaccineName').change(function () {
            var vaccineId = $(this).val();
            $('#componentName').empty();
            $.ajax({
                type: 'GET',
                url: '/med/vaccine/components/' + vaccineId,
                success: function (data) {
                    $.each(data, function (index, component) {
                        $('#componentName').append('<option value="' + component.id + '">' + component.componentName + '</option>');
                    });
                }
            });
        });

        $('#addVaccinationForm').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/med/users/addVaccination',
                data: formData,
                success: function (response) {
                    console.log(response);
                    $('#addVaccinationModal').modal('hide');
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>

</body>
</html>
