<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о вакцинации</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="icon" type="image/png" th:href="@{/icon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        .container {
            margin-left: 0;
            margin-right: 0;
        }

        .table {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 50%;
        }

        .divider {
            border-top: 2px solid #ccc;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div th:replace="~{navigation :: navi('MedFindUser')}"></div>
<div class="container">
    <h2>Информация о вакцинации</h2>
    <p><strong>Серия:</strong> <span th:text="${vaccination.serial}"></span></p>
    <p><strong>Вакцина:</strong> <span th:text="${vaccination.vaccine.vaccineName}"></span></p>
</div>
<div class="container-fluid">
    <div class="divider"></div>
    <h3>Поставленные компоненты:
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addComponentModal">
            Добавить компонент
        </button>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Дата постановки</th>
            <th>Медицинская организация</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="component : ${vaccination.completeComponents}">
            <td th:text="${component.vaccineComponent.componentName}"></td>
            <td th:text="${component.vaccinationdate}"></td>
            <td th:text="${component.medicalOrganization.organizationName}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <div class="divider"></div>
    <h3>Реакции пользователя:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Дата реакции</th>
            <th>Текст реакции</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reaction : ${reactions}">
            <td th:text="${reaction.dateofreaction}"></td>
            <td th:text="${reaction.textOfReaction}"></td>
        </tr>
        </tbody>
    </table>
    <button type="button" id="backButton" class="btn btn-secondary btn-back">Назад</button>
</div>
<div class="modal fade" id="addComponentModal" tabindex="-1" role="dialog" aria-labelledby="addComponentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addComponentModalLabel">Добавить компонент</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addComponentForm" th:action="@{/med/users/addComponentToVaccination}" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" name="id" required
                               th:value="${vaccination.id}">
                    </div>
                    <div class="form-group">
                        <label for="componentSelect">Выберите компонент:</label>
                        <select class="form-control" id="componentSelect" name="componentId">
                            <option th:each="component : ${vaccination.vaccine.components}" th:value="${component.id}"
                                    th:text="${component.componentName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="organizationName">Медицинская организация:</label>
                        <select class="form-control" id="organizationName" name="organizationId" required>
                            <option value="">Выберите организацию</option>
                            <option th:each=" organization: ${organizations}" th:value="${organization.id}"
                                    th:text="${organization.organizationName}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#addComponentForm').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/med/users/addComponentToVaccination',
                data: formData,
                success: function (response) {
                    console.log(response);
                    $('#addVaccinationModal').modal('hide');
                    location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
    document.getElementById("backButton").addEventListener("click", function () {
        window.history.back();
    });
</script>
</body>
</html>
