<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 500 - Внутренняя ошибка сервера</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="icon" type="image/png" th:href="@{/icon.ico}"/>
</head>
<body>
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Ошибка 500</h1>
        <p class="lead">На сервере произошла внутренняя ошибка.</p>
        <hr class="my-4">
        <p>В настоящее время сервер не может обработать ваш запрос. Пожалуйста, попробуйте позже.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Вернуться на главную страницу</a>
    </div>
</div>
</body>
</html>
